h1{
    font-family: "Lucida Console", "Courier New", sans-serif;
    font-size: x-large;
    color: #04AA6D;
    text-shadow: 1px 1px darkgreen;
    text-align: center;
}
body{
    background-color: chartreuse;
    font-family: "Garamond", "Lucida Console", "Courier New", sans-serif;
    text-align: center;
    font-size: small;
    margin: auto;
    margin-bottom: 60px;
    min-height: 200px;
    width: 90%;
}
button {

    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: 10px;
    display: inline-block;
    font-size: 14px;
    box-shadow: 1px 2px darkgreen;
}
button:hover {
    background: url(../images/main.JPG) 0 0 repeat-x;
    background-size: cover;
}
.footer {
    background: url(../images/main.JPG);
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}