h1{
    font-family: "Lucida Console", "Courier New", sans-serif;
    font-size: x-large;
    color: white;
    background-image: url("../images/main.jpg");
    text-shadow: 2px 2px black;
}
body{
    background-color: chartreuse;
    font-family: "Garamond", "Lucida Console", "Courier New", sans-serif;
    text-align: center;
    font-size: small;
    margin: auto;
    margin-bottom: 60px;
    min-height: 200px;
    width: 90%;
}
button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: 10px;
    display: inline-block;
    font-size: 14px;
    box-shadow: 1px 2px darkgreen;
}
button:hover {
    background-color: black;
    color: chartreuse;
}
button:checked{
    background-color: blue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../images/main.jpg");
    color: white;
    text-align: center;
}